* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.popis {
  background-color: #283e50;
  color: white;
  text-align: center;

}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: xx-large;
  margin: 20px;

}

p {
  margin: 20px;
}



.article {
  width: 250px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
}

.pravidla {
  width: 250px;
  height: 50px;
  background: #1fcca4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hrat {
  width: 250px;
  height: 50px;
  background: #0197f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
